Agendamento v2.json
{
  "name": "Agendamento v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -140
      ],
      "id": "72865192-97d4-47a4-8f82-f037f855d7f5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const { DateTime } = require('luxon');\n\n// Pega a data/hora atual no fuso de São Paulo\nlet now = DateTime.now().setZone('America/Sao_Paulo');\nlet businessDaysToAdd = 2;\nlet targetDate = now;\n\nwhile (businessDaysToAdd > 0) {\n  targetDate = targetDate.plus({ days: 1 });\n  // Considera sábado (6) e domingo (7) como não úteis\n  if (targetDate.weekday !== 6 && targetDate.weekday !== 7) {\n    businessDaysToAdd--;\n  }\n}\n\n// Formata a data para o formato que o Google Calendar entende (YYYY-MM-DD)\nconst startDate = targetDate.startOf('day').toISODate();\nconst endDate = targetDate.plus({ days: 1 }).endOf('day').toISODate();\n\n// Retorna as datas para os próximos nós usarem\nreturn [{\n  json: {\n    startDate: startDate,\n    endDate: endDate\n  }\n}];\n//3.  Execute este nó clicando no ícone de \"play\" nele. Você deve ver na saída as datas de início e fim para daqui a 3 dias úteis.\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -140
      ],
      "id": "c2b488db-6433-4f27-9fbd-ff3559926ad7",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "qsbqq83ubi4kfbfip2lg0rm1s0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Análise"
        },
        "returnAll": true,
        "timeMin": "={{ $json.startDate }}",
        "timeMax": "={{ $json.endDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        360,
        -140
      ],
      "id": "d5d234bc-a276-4e6e-aeb8-3269c4299a2c",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "acz0rprIptJMajyf",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $('DadosNotion').item.json.clientePhone.replace(/\\D/g, '') }}@c.us\",\n  \"session\": \"default\",\n  \"text\": \"Muuuuito bom dia, boa tarde ou boa noite a depender do horário atual, {{ $('DadosNotion').item.json.clienteName }}, tudo bem?\\n\\nGostaria de confirmar nossa próxima reunião agendada para *{{ $('DadosAgenda').item.json.diaSemana }} - {{ $('DadosAgenda').item.json.dataReuniao }}, das {{ $('DadosAgenda').item.json.horaInicio }} às {{ $('DadosAgenda').item.json.horaFim }}*. Para que possamos otimizar nosso tempo e que seu planejamento financeiro seja o mais completo possível, peço que, por gentileza, encaminhe os seguintes documentos até *{{ DateTime.fromISO($('DadosAgenda').item.json.dataReuniaoISO).minus({days: 2}).toFormat('dd/MM') }} às 10h*:\\n\\n📌 *Extrato bancário* da data da nossa última reunião até hoje.\\n\\n📌 *Faturas de cartão de crédito* do mesmo período.\\n\\n📌 Lista de acontecimentos previstos para os próximos meses ainda não planejados.\\n\\nPor favor, envie os arquivos nos formatos *PDF* e também em *CSV ou Excel*.\\n\\nPode fazer o envio através desse e-mail: {{ $('DadosNotion').item.json.consultorEmail }}\\n\\nCaso tenha alguma dúvida ou precise de qualquer esclarecimento, estou à disposição.\\n\\nAguardo seu retorno e nos vemos em breve!\\n\\nAtenciosamente, Assistente HC!\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        100
      ],
      "id": "628137da-12e0-4a31-889e-d8de6459a516",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -140
      ],
      "id": "1909db0e-fbaf-413d-92dc-38b50b1624a4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89c05576-a2b7-4847-983a-75640b641eee",
              "name": "emailAgendado1",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "79754a64-d95a-4ef1-a363-3795735ab88a",
              "name": "emailAgendado2",
              "value": "={{ $json.attendees[1].email }}",
              "type": "string"
            },
            {
              "id": "3881b053-210b-4cb9-a746-0dbda0aa8176",
              "name": "dataReuniao",
              "value": "={{ DateTime.fromISO($json.start.dateTime).toFormat('dd/MM') }}",
              "type": "string"
            },
            {
              "id": "8215e14f-8897-4361-bf35-dec0f6c96337",
              "name": "diaSemana",
              "value": "={{ DateTime.fromISO($json.start.dateTime).setLocale('pt-BR').toFormat('cccc') }}",
              "type": "string"
            },
            {
              "id": "21cd5c4a-94b6-423a-8783-058a31a32136",
              "name": "horaInicio",
              "value": "={{ DateTime.fromISO($json.start.dateTime).toFormat('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "b89a8557-3e88-42f1-9480-14433051108e",
              "name": "horaFim",
              "value": "={{ DateTime.fromISO($json.end.dateTime).toFormat('HH:mm') }}",
              "type": "string"
            },
            {
              "id": "1fdb6822-d194-498c-9486-ac4ed33b9969",
              "name": "dataReuniaoISO",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        -140
      ],
      "id": "dc5ba90d-7c52-406e-ad92-c3b0a7ac27f9",
      "name": "DadosAgenda"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c71e238f-567c-4fae-a3f3-dc6f01a1b373",
              "name": "consultorEmail",
              "value": "gabriel@hungaroconsultoria.com.br",
              "type": "string"
            },
            {
              "id": "b1e1113b-da16-41ef-9ae6-4b7b2e437a67",
              "name": "clienteName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3ab1feee-f5cf-4ceb-a3d7-19a39216e5aa",
              "name": "clienteEmail",
              "value": "={{ $json.property_e_mail }}",
              "type": "string"
            },
            {
              "id": "47903255-54b9-4974-890d-51fac00310ce",
              "name": "clientePhone",
              "value": "={{ $json.property_telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        100
      ],
      "id": "bf0fcb5c-0937-45b4-8011-a7e6e8ffbd71",
      "name": "DadosNotion"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        100
      ],
      "id": "a0a48ae3-3217-4df1-8bd4-d4e3c24c797d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "bf1094d6-c997-456f-82eb-cd30352c85c3",
          "mode": "list",
          "cachedResultName": "Lista de Contatos",
          "cachedResultUrl": "https://www.notion.so/bf1094d6c997456f82ebcd30352c85c3"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "E-mail|email",
              "condition": "contains",
              "emailValue": "={{ $('DadosAgenda').item.json.emailAgendado1 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        -1640
      ],
      "id": "fd585141-9b01-4c62-9e57-e0e29a87ec6c",
      "name": "Get many database pages1",
      "credentials": {
        "notionApi": {
          "id": "D1pXvNxNoBaVi0WB",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "bf1094d6-c997-456f-82eb-cd30352c85c3",
          "mode": "list",
          "cachedResultName": "Lista de Contatos",
          "cachedResultUrl": "https://www.notion.so/bf1094d6c997456f82ebcd30352c85c3"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "E-mail|email",
              "condition": "equals",
              "emailValue": "={{ $('DadosAgenda').item.json.emailAgendado1 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        100
      ],
      "id": "80df0a77-bf04-47ad-bc1b-70057ba6c8c4",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "D1pXvNxNoBaVi0WB",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow de envio de mensagem no whats diário confirmando reuniões",
        "height": 580,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -240
      ],
      "typeVersion": 1,
      "id": "d10f1776-2f44-46a7-96c8-da7d766a4972",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').item.json.message }}",
        "options": {
          "systemMessage": "=##Função\n \nVocê é um assistente de agendamento de reuniões da Hungaro Consultoria, uma empresa de planejamento financeiro.\nSua função é realizar agendamentos com objetividade. O usuário irá te informar o horário, o motivo para o agendamento e o e-mail para ser adicionado como convidado no agendamento.\nVocê deve iniciar a conversa com um Muito bom dia, boa tarde ou boa noite a depender do horário atual, além de chamar sempre o cliente pelo nome.\t\nSeguindo o padrão brasileiro de data e hora (DD/MM/AAAA e HH), opere no fuso horário \"America/Sao_Paulo\". hora atual: {{ $now }}\nNome do cliente:  {{ $('DadosGlobal').item.json.pushName }}\n\n \n## Documentos para envio\n*Os documentos devem ser enviados em formato PDF e CSV/Excel para o e-mail gabriel@hungaroconsultoria.com.br\nExtrato bancário das contas correntes\nFatura dos cartões de crédito\nLista de acontecimentos previstos para os próximos meses ainda não planejados.\n\nRegras:\n \n## Criar agendamento\n- Utilize a tool de \"Agendar\" create_event sempre que o usuário falar em \"Agendar\", \"agenda\", \"lembrar\", \"ligar\", \"conversar\", \"marcar\".\n- Crie um evento no Calendario do Google na data e hora solicitada pelo usuário, adicione seu e-mail como convidado no evento.\n \n## Consultar agendamento\n- Utilize a tool \"Consultar\" getall:event sempre que for solicitado para saber os agendamentos feitos.\n- Sempre que for fazer um novo agendamento confira as datas e horários nessa tool também.\n- Só retorne para o usuário os agendamentos que estão no Google Calendar, não utilize supostos agendamentos da memória, pois o usuário pode ter entrado no Google Calendar e removido o agendamento manualmente. Retorne os agendamentos por ordem de data e horário de início.\n \n## Deletar agendamento\n- Utilize a tool \"Deletar\" delete:event sempre que o usuário pedir para \"deletar\", \"excluir\", \"apagar\", \"cancelar\" um determinado evento.\n- Utilize a tool \"Consultar\" getall:event para achar o evento em questão para ser deletado.\n \n## Atualizar agendamento\n- Sempre que for solicitado para \"atualizar\", \"alterar\", \"mudar\", \"reagendar\", \"remarcar\" um determinado evento, utilize a tool \"Consultar\" getall:event para achar o evento em questão para ser atualizado, depois utilize a tool \"Deletar\" delete:event para deletar o evento e por último utilize a tool de \"Agendar\" create_event para criar um novo evento.\n\n\n## Horários disponíveis para agendamento\nAgende apenas nos seguintes horários:\nSegunda-feira: 8:00 as 18:00\nTerça-feira: 8:00 as 18:00\nQuarta-Feira: 8:00 as 18:00\nQuinta-Feira: 8:00 as 18:00\nSexta-feira: 8:00 as 18:00\nSábado: 8:00 as 12:00\nDomingo: nenhum horário disponível\n\n## Não envie o link do Google Calendar para o usuário.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4300,
        -540
      ],
      "id": "4907b99e-a380-4890-ace8-e44e50fb9b24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "topK": 16
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4180,
        -320
      ],
      "id": "0aa53e53-20e3-4bde-9d1f-c3fad254074a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nJopBduo6R0Rmkvt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "qsbqq83ubi4kfbfip2lg0rm1s0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Análise"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Data e horário escolhido pelo usuário`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `60 minutos após a data de início`, 'string') }}",
        "additionalFields": {
          "description": "={{ $('DadosGlobal').item.json.chatId }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `O título deve conter omotivo do agendamento e o nome do cliente`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4520,
        -320
      ],
      "id": "894a76fa-3f46-4208-8c4b-b48a5d43c4dc",
      "name": "Agendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "acz0rprIptJMajyf",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "qsbqq83ubi4kfbfip2lg0rm1s0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Análise"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 4 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4620,
        -320
      ],
      "id": "7517c6c5-ef8b-4a01-9589-d1ce95cd62d1",
      "name": "Consultar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "acz0rprIptJMajyf",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "qsbqq83ubi4kfbfip2lg0rm1s0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Análise"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Delete o evento solicitado.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4740,
        -320
      ],
      "id": "d0d1b3f5-5e8c-4fa7-ba5b-7601f9b528f3",
      "name": "Deletar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "acz0rprIptJMajyf",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Workflow de agente de agendamento de compromissos\n## Bloco de recebimento de mensagem no whats com switch para tratar texto e audio\n\nVídeo Aula Base:\nhttps://www.youtube.com/watch?v=oO-o1kEcZ10",
        "height": 540,
        "width": 2140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -800
      ],
      "typeVersion": 1,
      "id": "af350119-1a37-4870-8522-fa0cc86e3b18",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# TO-DO\n- Adicionar Evolution API - OK\n- Fazer verificação de qual api está vindo a mensagem e para qual mandar - OK\n- Adicionar Bloqueio de agente com interação Humana - OK\n- Adicionar e-mail do usuário ao compromisso na agenda\n- Conectar ao Notion para verificar se usuário está na base cadastrada\n- enviar e-mail de agendamento de compromisso",
        "height": 540,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -800
      ],
      "typeVersion": 1,
      "id": "6fcb4613-2a9b-472d-b370-a9f23066c9db",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# TO-DO\n- Adicionar verificação de há e-mail no evento da agenda, caso não haja buscar usuáruio no notion pelo telefone\n- Revisar envio de mensagem no whats de confirmação.\n",
        "height": 580,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -240
      ],
      "typeVersion": 1,
      "id": "ecf93f48-6656-4a5d-9c2c-023ddbab786b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhookagendamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        -660
      ],
      "id": "89706940-9ac1-4055-979f-c7fc7053abae",
      "name": "WebhookAgendamento",
      "webhookId": "3cfccf3e-4099-4a06-9c12-40bea5e94abb"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DadosGlobal').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        4420,
        -680
      ],
      "id": "81e8b5ff-e212-4e2c-9b9c-6199d66cacc6",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "XetUh92CLURSvWMJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('DadosGlobal').item.json.session }}",
        "remoteJid": "={{ $('DadosGlobal').item.json.chatId }}",
        "messageId": "={{ $('DadosGlobal').item.json.payload_id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4720,
        -540
      ],
      "id": "4e5f6604-691b-40eb-91e3-d091e2f62c1d",
      "name": "Marcar mensagens como lidas",
      "credentials": {
        "evolutionApi": {
          "id": "j5AbWpMg04wmHEJE",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('DadosGlobal').item.json.session }}",
        "remoteJid": "={{ $('DadosGlobal').item.json.chatId }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {
          "delay": 3000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4940,
        -540
      ],
      "id": "1f8fd205-5d30-435c-b484-cc876f657c42",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "j5AbWpMg04wmHEJE",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Material de Estudo\n\nAgente - https://www.youtube.com/watch?v=AOlUjodmAos&list=PL6kLN1Ta8qJQeotHKV0pcB8z1Es7wtYG_&index=42&t=2713s\n\n Fazendo parei no minuto 3:52 Bloquear agente ao interagir -https://www.youtube.com/watch?v=I8kToOcgx9I",
        "height": 500,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -1340
      ],
      "typeVersion": 1,
      "id": "d7ced057-ebec-40a9-b00c-ae3fd1a6e9bb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "11f0b97b-9362-48c6-9391-fc61120e5d78",
              "leftValue": "={{ $('DadosGlobal').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        -660
      ],
      "id": "b22569f1-d4b4-4bf0-9cdf-658dc4444733",
      "name": "fromMe"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('DadosGlobal').item.json.botName }}_{{ $('DadosGlobal').item.json.chatId }}_block",
        "value": "true",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2540,
        -740
      ],
      "id": "0d8ad7d2-af55-4c2d-9de3-5ffcadd3cb37",
      "name": "ChaveBlock",
      "credentials": {
        "redis": {
          "id": "XetUh92CLURSvWMJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('DadosGlobal').item.json.botName }}_{{ $('DadosGlobal').item.json.chatId }}_block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2780,
        -560
      ],
      "id": "17e99677-c9f6-4133-8083-56b5aa9eedca",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "XetUh92CLURSvWMJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0c0e579-e800-436a-bcdd-01fd179493f7",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3000,
        -560
      ],
      "id": "81f3fa0a-d3a8-4d85-b497-945741b4e163",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        -1420
      ],
      "id": "1be7a30b-1143-4ec9-9513-80172b6e8c6d",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab4cb666-ab3c-4759-9ff0-bf0141bb506d",
              "name": "boName",
              "value": "Assistente HC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -1420
      ],
      "id": "25ed99af-d0b5-4eb0-bbc5-b4a76df7de26",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        -1240
      ],
      "id": "aaec11eb-2f14-4f98-bc36-6afed1d2644b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('DadosGlobal').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1b5875ef-cf37-4831-88dc-0d728e7ee8a7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3634e115-e6c7-4c97-8773-d658a8c2464d",
                    "leftValue": "={{ $('DadosGlobal').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -660
      ],
      "id": "a0d0393e-4a43-41fd-9b8e-90fcae9d75c9",
      "name": "text/audio Evo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9442d8d9-841b-4d5c-94b9-7a3f8abd2bbf",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        -740
      ],
      "id": "edd0a957-005f-4f5f-acce-a8ffdc0cf926",
      "name": "Set Text Message Evo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4c4e610-7527-4660-aa85-670078d5dcbc",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        -660
      ],
      "id": "5254a78f-fc92-48e1-93c1-ba9bba81c7b2",
      "name": "Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d41508-01f0-41f9-a832-50d4db233e82",
              "name": "session",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "2b8a234d-065e-4f3e-b2f2-d406a4ead027",
              "name": "chatId",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "6631fcdf-8370-45b6-8a9b-d93cdd46ecfd",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "80d3e892-7ff4-41ab-9b73-39e6c9a7a81f",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "e74ea258-2fb9-412d-a8eb-c28e8a1cef90",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "11a3f302-7f03-40a0-a578-cda9138ab7e0",
              "name": "payload_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "50bbf579-d40e-4efc-b25f-fd65031c9eae",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "ec7c28f5-ab7e-421f-ad28-47a4a2854369",
              "name": "apiSource",
              "value": "=Evolution",
              "type": "string"
            },
            {
              "id": "3b63b46f-190e-48d3-9f54-6dac4e76b975",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "e301a960-2af1-45eb-aff6-f020096ed713",
              "name": "botName",
              "value": "Assistente HC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -660
      ],
      "id": "c0de5eae-5f00-4376-ac41-74c86444d520",
      "name": "DadosGlobal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2560,
        -560
      ],
      "id": "d516902f-12a4-4e2d-9b75-912ce1065104",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $json.session }}",
        "messageId": "={{ $json.payload_id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        960,
        -580
      ],
      "id": "8b109e0a-1149-4c9a-9e06-a677bb08b5f1",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "j5AbWpMg04wmHEJE",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1140,
        -580
      ],
      "id": "82fde98d-5dd1-4b05-9faf-ef7545e54409",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -580
      ],
      "id": "126067f9-d5ba-4c31-8775-2903b05e7397",
      "name": "HTTP Request1",
      "credentials": {
        "groqApi": {
          "id": "lLObtEhdOtQpgpo2",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15f4ff6d-ada6-4ba0-9dfc-095beedabedb",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        -580
      ],
      "id": "ae72b7b1-71d0-4b48-99b7-fdc338fae96f",
      "name": "Set Audio Message"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Message').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2760,
        -980
      ],
      "id": "02493bd9-b8a7-4244-8c7f-6613c990341c",
      "name": "Salva Chat Admin"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Message').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        3360,
        -980
      ],
      "id": "05d8fe27-6577-4ddd-92e8-5c086b3de092",
      "name": "Salva Chat User"
    },
    {
      "parameters": {
        "content": "# Bloqueio de Agente com interação humana\n",
        "height": 840,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2060,
        -1100
      ],
      "typeVersion": 1,
      "id": "51e11a29-a00d-4783-895b-71fd1b4b747b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        -440
      ],
      "id": "a041a6f6-056c-4418-88d5-aabafdc21427",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "DadosAgenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosAgenda": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosNotion": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "DadosNotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Deletar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookAgendamento": {
      "main": [
        [
          {
            "node": "DadosGlobal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Salva Chat Admin",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Salva Chat User",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe": {
      "main": [
        [
          {
            "node": "ChaveBlock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChaveBlock": {
      "main": [
        [
          {
            "node": "Salva Chat Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Salva Chat User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text/audio Evo": {
      "main": [
        [
          {
            "node": "Set Text Message Evo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message Evo": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "fromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosGlobal": {
      "main": [
        [
          {
            "node": "text/audio Evo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set Audio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Message": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "376b4bfb-17b6-4181-9fc3-24179a3bfc7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c639fe7ebeb422477546545535913c1fe6d467efc75f0ba65b23a5e5a0935928"
  },
  "id": "M0ckBcce0k3P1Nv4",
  "tags": []
}