HandleCancel.json
{
  "name": "HandleCancel",
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Agente_Agendamento_HC",
        "remoteJid": "={{ $('SetInitialData').item.json.customerPhone }}@s.whatsapp.net",
        "messageText": "={{ $('BuildMessages').item.json.messageToClient }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        -48
      ],
      "id": "2f96183f-4b10-440d-9109-ac0b30354035",
      "name": "Send to Client",
      "credentials": {
        "evolutionApi": {
          "id": "j5AbWpMg04wmHEJE",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Agente_Agendamento_HC",
        "remoteJid": "={{ $('SearchConsultant').item.json.property_phone.replace(/\\D/g, '') }}@s.whatsapp.net",
        "messageText": "={{ $('BuildConsultantMessage').item.json.messageToConsultant }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1712,
        192
      ],
      "id": "c9e87b13-bad8-46b6-9cce-b2cfafc1f1ec",
      "name": "Send to Consultant",
      "credentials": {
        "evolutionApi": {
          "id": "j5AbWpMg04wmHEJE",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "customerPhoneNumber"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        80
      ],
      "id": "b289a4c8-4ea7-4a83-b0d7-f0b2ce7bc57a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "bf1094d6-c997-456f-82eb-cd30352c85c3",
          "mode": "list",
          "cachedResultName": "Lista de Contatos"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "clientPhone|formula",
              "condition": "contains",
              "returnType": "text",
              "textValue": "={{ $json.customerPhone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -128,
        80
      ],
      "id": "570048d6-38e0-4cc1-a09a-b9f938455afb",
      "name": "SearchClient",
      "credentials": {
        "notionApi": {
          "id": "D1pXvNxNoBaVi0WB",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "customerPhone",
              "value": "={{ $json.customerPhoneNumber.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        80
      ],
      "id": "56fd4cac-f512-47ff-bcd7-e5929192a4c6",
      "name": "SetInitialData"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $('PrepareData').item.json.consultantId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1232,
        192
      ],
      "id": "fb466f2a-b692-47b2-876a-52ef963c1265",
      "name": "SearchConsultant",
      "credentials": {
        "notionApi": {
          "id": "D1pXvNxNoBaVi0WB",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_7884974ab5a1eab27a106c4a78d7d6daf6c68570378b40d003382781ced7f9f4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste - HC"
        },
        "returnAll": true,
        "timeMin": "={{ $now.toISODate() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ],
      "id": "bc87f923-2999-4ab5-b095-78a6cb34a670",
      "name": "GetMeet",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Bct71lYLp9OoL4OX",
          "name": "Google HC"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "displayName",
              "value": "={{ $('SearchClient').item.json.property_client_nick || $('SearchClient').item.json.name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "consultantId",
              "value": "={{ $('SearchClient').item.json.property_responsible_consultant[0] }}",
              "type": "string"
            },
            {
              "id": "f1de2c25-8c94-4c66-a01d-f6125c2840ec",
              "name": "meetingSummary",
              "value": "={{ $('FilterAndSelectMeeting').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "c0635c4c-3014-4ec3-a8c2-4040553ea2fc",
              "name": "meetingDateTime",
              "value": "={{ DateTime.fromISO($('FilterAndSelectMeeting').item.json.start.dateTime).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy \\'às\\' HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        80
      ],
      "id": "7a1ec8a1-e71b-4c36-b705-5bbcdc6444ec",
      "name": "PrepareData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "messageToConsultant",
              "value": "=❌ Reunião Cancelada\n\nOlá, {{ $('SearchConsultant').item.json.property_name }}. \n\nO cliente *{{ $('PrepareData').item.json.displayName }}* cancelou a seguinte reunião:\n\n- *Compromisso:* {{ $('PrepareData').item.json.meetingSummary }}\n- *Data e Hora:* {{ $('PrepareData').item.json.meetingDateTime }}\n\nO cliente foi orientado a reagendar, se desejar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        192
      ],
      "id": "3aef54b9-1f84-4841-9ce9-2b45f14b7772",
      "name": "BuildConsultantMessage"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6ffd3c9-a8d5-4c9b-a994-6a30914edc53",
              "name": "messageToClient",
              "value": "=Olá, {{ $('PrepareData').item.json.displayName }}. Recebemos seu pedido e cancelamos a reunião de '{{ $('PrepareData').item.json.meetingSummary }}'.\n\nSe desejar, podemos verificar novos horários para reagendamento. Você prefere ver as opções agora ou entrar em contato em outro momento?\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        80
      ],
      "id": "ca6100cc-b8dc-49dd-a851-5a3a015489e7",
      "name": "BuildMessages"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_7884974ab5a1eab27a106c4a78d7d6daf6c68570378b40d003382781ced7f9f4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste - HC"
        },
        "eventId": "={{ $('FilterAndSelectMeeting').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        640,
        -160
      ],
      "id": "25deb2e6-b65a-41ee-8b31-5058598a3cf1",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Bct71lYLp9OoL4OX",
          "name": "Google HC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o e-mail do cliente que encontramos no Notion.\n// Usamos $items() para buscar de um nó anterior com segurança.\nconst clientEmail = $items('SearchClient')[0].json.property_e_mail;\n\n// Pega a lista de todos os eventos futuros que o Google Calendar retornou.\nconst allFutureEvents = $input.all();\n\n// Filtra essa lista para manter apenas os eventos onde o nosso cliente é um convidado.\nconst clientEvents = allFutureEvents.filter(event => {\n  // Verifica se a lista de convidados (attendees) existe.\n  if (!event.json.attendees) {\n    return false;\n  }\n  // Procura na lista de convidados por um que tenha o mesmo e-mail do nosso cliente.\n  return event.json.attendees.some(attendee => attendee.email === clientEmail);\n});\n\n// Se não encontrarmos nenhum evento para este cliente, retornamos um objeto vazio\n// para que o fluxo não quebre nos próximos nós.\nif (clientEvents.length === 0) {\n  return [{ json: { summary: 'Nenhum compromisso encontrado', start: { dateTime: new Date().toISOString() } } }];\n}\n\n// Ordena os eventos encontrados pela data de início, do mais próximo para o mais distante.\nclientEvents.sort((a, b) => new Date(a.json.start.dateTime) - new Date(b.json.start.dateTime));\n\n// Retorna apenas o primeiro item da lista ordenada, que é o próximo compromisso do cliente.\nreturn [clientEvents[0]];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        80
      ],
      "id": "22129ae2-2b20-4259-baa1-58725214ce69",
      "name": "FilterAndSelectMeeting"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SetInitialData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchClient": {
      "main": [
        [
          {
            "node": "GetMeet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetInitialData": {
      "main": [
        [
          {
            "node": "SearchClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchConsultant": {
      "main": [
        [
          {
            "node": "BuildConsultantMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMeet": {
      "main": [
        [
          {
            "node": "FilterAndSelectMeeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareData": {
      "main": [
        [
          {
            "node": "BuildMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildConsultantMessage": {
      "main": [
        [
          {
            "node": "Send to Consultant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildMessages": {
      "main": [
        [
          {
            "node": "Send to Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "SearchConsultant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        []
      ]
    },
    "FilterAndSelectMeeting": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          },
          {
            "node": "PrepareData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "840dc44c-525b-42fe-9355-76d2e95552dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c639fe7ebeb422477546545535913c1fe6d467efc75f0ba65b23a5e5a0935928"
  },
  "id": "SOvPjpc4SokS7mQI",
  "tags": []
}